
@{
    ViewData["Title"] = "Gestão de Eventos";
}

<h2>Gestão de Eventos</h2>

<ul>
    <li>
        <a asp-controller="Eventos" asp-action="Incluir">Incluir evento</a>
    </li>
    <li>
        <a asp-controller="Eventos" asp-action="Listar">Listar eventos</a>
    </li>
    <li>
        <a asp-controller="Eventos" asp-action="IncluirParticipante">Incluir Participante</a>
    </li>
    <li>
        <a asp-controller="Eventos" asp-action="ListarParticipantes">Listar Participantes</a>
    </li>
</ul>
